.itemLecture {
    border: 1px solid #000000;
    box-shadow: 4px 4px 11px #E9E9E9;
    border-radius: 5px;
    padding: 40px 53px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header svg {
    padding: 8px;
    border-radius: 50%;
    transition: .3s;
}

.header svg:hover {
    cursor: pointer;
    background-color: #E9E9E9;
}

.description {
    font-weight: 500;
    font-size: 24px;
    color: #959595;
}

.settings {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.content {
    padding-top: 54px;
    margin-top: 40px;
    border-top: 1px solid #000000;
    display: flex;
    margin: 0 8px;
    justify-items: center
}

.lecture {
    max-width: 150px;
}

.preview {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background: #591F96;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    margin-top: 13px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #959595;
}