.parent {
    max-width: 292px;
    width: 100%;
    border: 1px solid #000000;
    box-shadow: 4px 4px 8px #E9E9E9;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
}

.title {
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.description {
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: #959595;
    margin-bottom: 20px;
}

.date {
    font-weight: 500;
    font-size: 13px;
    color: #959595;
    margin-bottom: 10px;
}