@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
    color: #777;
}

a:hover {
    text-decoration: none;
    opacity: .5;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

input:focus {
    background: #FFFFFF;
    color: #3C3C3C;
}

input {
    background: #DEDEDE;
    border: 1px solid #8B8B8B;
    box-shadow: 0 4px 25px rgba(199, 199, 199, 0.94);
    border-radius: 10px;
    font-size: 24px;
    padding: 15px 30px;
}

button {
    background: #C1C1C1;
    border: 1px solid #797979;
    box-shadow: 0 4px 25px rgba(199, 199, 199, 0.94);
    border-radius: 10px;
    font-weight: 600;
    font-size: 24px;
    color: #515151;
    width: max-content;
    padding: 15px 100px;
}

button:hover {
    background: rgba(193, 193, 193, 0.6);
}

#root {
    height: 100%;
}

.layout {
    padding: 0 0 10px 0;
    height: 100%;
    background: #EDF1F5;
    display: flex;
    flex-direction: column;
}
.wrapper {
    display: flex;
    margin: 0 16px;
    height: 100%;
}
.content {
    width: 100%;
    margin-left: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -6px -6px 15px #E2EAF2;
}
.nav {
    max-width: 300px;
    width: 100%;
    padding: 60px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -6px -6px 15px #E2EAF2;
}

.lineNavigation, .content, .nav {
    background: #fff;
}

.lineNavigation {
    background: #fff;
    max-height: 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
}

.navlist,.navName, .navlist li a{
    color: #000000;
}

.navlist li {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navlist li a {
    font-size: 18px;
    line-height: 28px;
    transition: .3s;
    margin-left: 12px;
}
.navName {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
    display: block;
}
