@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
    color: #777;
}

a:hover {
    text-decoration: none;
    opacity: .5;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

input:focus {
    background: #FFFFFF;
    color: #3C3C3C;
}

input {
    background: #EBEBEB;
    border: 1px solid #E1E1E1;
    box-shadow: 4px 4px 4px rgba(199, 199, 199, 0.94);
    border-radius: 10px;
    font-size: 24px;
    padding: 15px 30px;
}

button {
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 4px 4px 4px rgba(199, 199, 199, 0.94);
    border-radius: 10px;
    font-weight: 600;
    font-size: 24px;
    color: #515151;
    width: max-content;
    padding: 15px 100px;
}

button:hover {
    background: rgba(193, 193, 193, 0.6);
}

#root {
    height: 100%;
}

.layout {
    padding: 0 0 10px 0;
    background: #EDF1F5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.wrapper {
    display: flex;
    margin: 0 16px 16px 16px;
    height: 100%;
    flex: 1;
}
.content {
    width: 100%;
    margin-left: 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), -6px -6px 15px #E2EAF2;
    border-radius: 5px;
    padding: 30px 72px;
    display: flex;
    flex-direction: column;
}
.nav {
    max-width: 300px;
    width: 100%;
    padding: 60px 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), -6px -6px 15px #E2EAF2;
    border-radius: 5px;
    transition: .3s;
    opacity: 1;
}

.nav.nav_unactive  {
    width: 0%;
    transition: .3s;
    padding: 60px 0px;
    opacity: 0;
}

.line-navigation__user, .line-navigation__logout {
    cursor: pointer;
}

.line-navigation, .content, .nav {
    background: #fff;
}

.line-navigation {
    background: #fff;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 16px;
}

.logo {
    font-size: 32px;
    line-height: 48px;
    position: relative;
}

.logo:after {
    position: absolute;
    display: block;
    margin: 0 auto;
    content: "";
    height: 2px;
    background-color: #000000;
    left: 0%;
    bottom: 0;
    width: 100%;
}

.navlist,.navName, .navlist li a{
    color: #000000;
    width: 100%;
}

.navlist li {
    display: flex;
    align-items: center;
    padding: 12px 0;
    cursor: pointer;
}

.navlist li a span{
    font-size: 18px;
    line-height: 28px;
    transition: .3s;
    margin-left: 12px;
    width: 100%;
}
.navName {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
    display: block;
}
